<!DOCTYPE html>
<html lang="en">
  <head>
    <title>the ONE</title>
    <link rel="shortcut icon" href="static/doge.ico" />
    <link href="../static/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div>
        <a href="/"> home </a>
      </div>
      
      <form action="/crawl" method="post">
        <div>
          <label>
            Submit post URL here:
            <input name="URL" />
          </label>
        </div>
        <button class="center" type="submit">SEND</button>
      </form>
    </body>
  </div>
</html>
